* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.homepageheader {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 2rem 0 0 0;
  background-color: #5a5a5a;
  color: white;
}

.homepagetitle {
  padding: 1.3rem 1.3rem 1rem 1rem;
  font-size: 17px;
}

.homepagelinkbar {
  display: flex;
  justify-content: flex-start;
  padding: 0.7rem 0.5rem;
  list-style-type: none;
  background-color: black;
  width: auto;
  position: relative;
}

.homepagelinkbar button {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #4279ac;
  border-top: 6px solid #6ba1d4;
  border-left: 6px solid #0c5192;
  border-right: 6px solid #6ba1d4;
  border-bottom: 6px solid #0c5192;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}

.homepageheader img {
  max-height: auto;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 13rem;
  border: 5px solid black;
}